<!DOCTYPE html>
<html>
  <head>
    <title>SGT</title>
    <link rel='stylesheet' href='/stylesheets/styleHome.css' />
  </head>
  <body>
    <nav>
      <h1>Sistema Gestor de Tarefas</h1>
      <input placeholder="Procurar Tarefa"/>
      <button>Buscar</button>
    </nav>

    <div>
 <table>
  
 </table>
    </div>
   
  </body>
</html>
